<div class="landing-container">
  <h1>Welcome to Rails App</h1>
  <p>Select an app to get started:</p>

  <div class="button-group">
    <%= link_to "Dream Journal (AI)", dream_journal_path, class: "app-button" %>
    <%= link_to "Work Journal (AI)", work_journal_path, class: "app-button" %>
    <%= link_to "Order Fulfillment (Shopify)", order_fulfillment_path, class: "app-button" %>
  </div>
</div>
