<div class="order-page-container">
  <div class="order-actions">
    <%= link_to "â† Back to Home", root_path, class: "btn back-button" %>
  </div>
  <%= render "shared/navigation" %>

  <h1>Delivered Orders</h1>

  <% if @orders.any? %>

    <ul class="order-list">
      <% @orders.each do |order| %>
        <li class="order-item">
          <%= link_to "Order #: #{order.order_number} - Customer ID: #{order.customer_name} - Delivered on: #{order.delivery_date}", order_path(order) %>
        </li>
      <% end %>
    </ul>

  <% else %>
    <p>No delivered orders yet.</p>
  <% end %>
</div>

